/*================================================*/
/*Variables*/

/* --linkNoStyle:   list-style: none; */
/*=============*/
* {
  font-family: futura-pt, Avenir, -apple-system, "BlinkMacSystemFont",
    "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*================================================*/
body {
  background-color: #b1c5ff;
  margin: 0px auto;
  width: 100%;
}
/*================================================*/
.contenedor {
  /* width: 85%; */
  /* max-width: 1404px; */
  max-width: 1600px;
  margin: 0px auto;
  background-color: #fbffa7;
}
/*================================================*/
/*================================================*/
/*HEADER*/
header {
  /* border: 1px solid black; */
  /*background-image: url("https://ableton-production.imgix.net/about/header.jpg?auto=format&dpr=2&fit=crop&fm=jpg&h=494&ixjsv=1.1.3&q=50&w=1333");
*/
  /* background-image: url("img/header.jpg"); */
  /* padding: 10px;
  z-index: 0; */
  height: auto;
}

/*======*/
/*======*/
/*======*/
/*======*/
/*LOGO del header*/
#svgHeader {
  margin-top: 4px;
  flex-grow: 1;
  margin-left: 48px;
}
/*======*/
/*=============================*/
/*================================================*/
/*Primera parte del header. agrupa menu menuDerechaHeader*/
.primeraParteHeader {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  /* font-size: 12px; */
  /*==*/
  padding-top: 4px;

  gap: 20px;
}
/*======*/
/*=============================*/
/*Primera mitad de la primera parte */

.menu ul {
  /* gap: 35px; */
  gap: 37px 36px; /*Gap-row gap-colum*/
  padding-left: 21px;
}

/*======*/

/* .menuDerechaHeader ul {
}
.menuDerechaHeader ul li a {
} */
/*=============================*/

/*================================================*/
/*GENERALES EN HEADER*/
header ul {
  display: flex;
  flex-flow: row wrap;
}
header li {
  list-style: none;
}

header a {
  text-shadow: 2px 1p 1px 1px rgb(142, 66, 66);
  text-decoration: none;
  /* font-weight: bold; negrita */
  font-size: 19px;
  font-weight: 600;
}
/*======*/
/*================================================*/

/*=============================*/
/*MENU DERECHA DE ÑPRIMERA APRTE DE HEADER*/

.menuDerechaHeader {
  flex-grow: 1;
  display: flex;
  flex-flow: row-reverse wrap;
  padding-right: 8px;
  /* word-spacing: 0.5px; */
}
.menuDerechaHeader ul {
  gap: 34px;
  padding-left: 0px;
}
.menuDerechaHeader ul li a {
  font-size: 18px;
}
.menuDerechaHeader .logIn {
  font-size: 14px;
}
/*======*/
/*================================================*/
/*GENERALES EN HEADER*/
/* header ul {
  display: flex;
  flex-flow: row wrap;
}
header li {
  list-style: none;
}

header a {
  text-shadow: 2px 1p 1px 1px rgb(142, 66, 66);
  text-decoration: none;
  /* font-weight: bold; negrita */
/* font-size: 19px;
  font-weight: 600; */
*/
/*======*/
/*================================================*/
/*MORE HEADER*/
/*more header*/
.moreDropHeader {
  position: relative;
  display: inline-block;
}
/*contenido more header*/
.contenidoMoreDropHeader {
  display: none;
  position: relative;

  padding: 12px 16px;
  font-weight: 200;
}

/* Activarlo y s emuestre
.moreDropHeader.active .contenidoMoreDropHeader {
  display: block;
} */
/*Indicativo de mostrar el menu*/
.active {
  display: block;
}

.contenidoMoreDropHeader h4 {
  margin-left: 20px;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 0px;
  margin-top: 20px;
}
.contenidoMoreDropHeader h3 {
  margin-left: 20px;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 0px;
}
/* .contenidoMoreDropHeader ul {
  margin-top: 0;
} */
.contenidoMoreDropHeader p,
li {
  font-size: 15px;
  font-weight: 400;
}
.orange {
  color: orange;
}
.moreHeader-firstOnAbleton {
  gap: 15px;
}
.moreHeader-segFromAbleton {
  display: flex;
}
/*FIN MORE HEADER*/
/*FIN HEADER*/
/*================================================*/
/*================================================*/
/*================================================*/
/*GENERALES MAIN*/
.seccionTextCentral {
  margin: 0px auto;

  padding: 30px;
}

/*separacion por cada seccion*/
.separacionSecciones {
  margin-top: 83px;
  margin-bottom: 220px;
}
/*Longitud ue ocupa la parte de texto*/
.sizeText {
  max-width: 65%;
}
h2 {
  font-size: 28px;
  line-height: 40px; /*separacion entre lineas*/
  font-weight: 500;
  word-spacing: 0.04em; /*separacion entre palabras*/
}
p {
  margin-top: 27px;
  font-size: 18px;
  line-height: 30px;
  padding-left: 13px;
}

/*Listas quitar puntito y la raya subrayado*/
li {
  list-style: none;
}

a {
  text-decoration: none;
}
/*======================================================*/
/*======================================================*/
/*Parte abajo de header*/
.subMenu {
  font-size: 21px;
  padding-left: 10px;
}
.subMenu ul {
  gap: 36px;
}
.subMenu a {
  font-weight: 600;

  font-size: 15px;
}
/*====================*/
/*===========*/
/*FIN HEADER*/
main {
  width: 83%;
  /* background-color: #b1c5ff; */
  /* #fbffa7; */
  margin: 0 auto; /*Mantener en general el recuadro main centrado*/
}
/*===============*/
/*================*/
/*PRIMERA PARTE*/
.imagenHeader {
  display: block;
  position: relative;
  max-height: 865px;
  max-width: 100%;

  /*
  background-image: url("img/header.jpg");
  background-position: center center;

  background-size: auto 820px;
  background-repeat: no-repeat; */
}
.figureHeader {
}
.figureHeader img {
  /* background-image: url("img/header.jpg"); */
  max-width: 100%;
  height: 865px;
  object-fit: cover;
}

/*svg de imagen de inicio.Ableton*/
.imagenHeader svg {
  position: absolute;
  left: 458px;
  bottom: 370px;
}

/*==================================*/

/*PRIMERA PARTE*/
.primeraParte h2 {
  padding-left: 40px;
  letter-spacing: 0.001em;
}
/*===============*/
/*================*/
/*SEGUNDA PARTE. 2 IAMGENES*/
.segundaParte-2imag {
  display: flex;
  flex-wrap: row wrap;
  gap: 40px;
  align-items: center;
  margin-bottom: 30px;
}
/*=========*/
.segundaParte-Primera {
  flex-basis: calc(50% - 40px);
  flex-grow: 1;
  /* background-image: url("img/photo-1.jpg");

  background-size: 100%; */
}
.segundaIzquierda {
  padding-left: 4px;
}
.segundaIzquierda img {
  max-width: 668px;
}

/*===========*/
.segundaParte-Segunda {
  flex-basis: calc(40% - 40px);
  text-align: center;
  flex-grow: 1;
}
.segundaDerecha {
  margin-left: 55px;
}
.segundaDerecha img {
  width: 92%;
}
/*===============*/
/*================*/
/*======================================================*/

/*TERCERA PARTE*/
/*TEXT ABAJO VIDEO*/
.terceraParte {
  display: flex;
  flex-flow: column wrap;
  flex-grow: 1;
  align-items: center;
  gap: 10px;
  margin-top: 180px;
  margin-bottom: 30px;
}

.terceraParte h2 {
  max-width: 95%;
  font-size: 27px;
  margin-left: 40px;
}

/*====*/
/*parrafo*/
.terceraParte-text {
  flex-grow: 1;
  margin-bottom: 70px;
  word-spacing: 0.001em;
  padding-left: 0px;
  margin-bottom: 72px;
  padding-top: 25px;
}

/*===*/
.terceraParte-video {
  flex-grow: 1;
  margin-left: 14px;
  margin-bottom: 4px;
}
/*===============*/
/*================*/
/*cuarta parte*/
.cuartaParte {
  /* margin-bottom: 200px; */
  margin-bottom: 85px;
}
.cuartaParte h2 {
  max-width: 94%;
  font-size: 26px;
  margin-left: 39px;
  word-spacing: 0.6px;
  padding-top: 4px;
}
/*======================================================*/
/*QUINTTA PARTE*/
.quintaParte {
  display: flex;

  flex-grow: 1;
  gap: 90px;
  max-width: 1500px;
  height: 1100px;
  margin-bottom: 185px;
}
.quintaIzquida {
  padding: 0px;
  margin: 0px;
  width: 530px;
  display: block;
  position: sticky;
  z-index: 1;
  padding-top: 130px;

  margin-bottom: 8px;
}
.quintaIzquida img {
  width: 100%;
  /* max-width: 530px;
  display: block;
  position: sticky;
  z-index: 2; */
}

/*==============*/
article.quintaParte-Izquierda:before {
  content: "";
  display: block;
  width: 940px;
  height: 1200px;
  background-color: #b6ffc0;
  position: absolute;
  /* z-index: -1; */
  top: 5;
  left: -136px;
}

/*====*/
.quintaParte-Izquierda {
  flex-basis: calc(50% -20px);

  padding: 10px;
  position: relative;
}
/* 
.quintaParte-Izquierda img {
  padding-top: 130px;

  margin-bottom: 8px;
} */
.imagenAbajoQuinta {
  margin-bottom: 150px;
}
/*===*/
.quintaParte-Derecha {
  flex-grow: 1;
  flex-basis: calc(50% -20px);
  align-self: center;
  padding-top: 99px;
}
.quintaDerecha {
  width: 660px;
  padding-left: 33px;
  display: block;
  position: sticky;
}
.quintaDerecha img {
  /* max-width: 660px;
  padding-left: 33px;
  display: block;
  position: sticky; */
  max-width: 100%;
}
/*===============*/
/*================*/

/*PARTE SEXTA*/
.sextaParte {
  margin-bottom: 10px;
}
.sextaParteTexto {
  margin: 0px auto;
  padding: 30px;
  padding-left: 68px;
  margin-bottom: 84px;
}
.sextaParteTexto h2 {
  margin-left: 20px;
  font-size: 27px;
  word-spacing: 0.00001em;
}
.sextaParteTexto p {
  margin-left: 10px;

  word-spacing: 0.00001em;
}
/*===============*/
/*================*/
/*SEXTA PARTE*/
.imgSexta {
  max-width: 1333px;
}
.imgSexta .imagSextaParte {
  width: 100%;
}
/*===============*/
/*================*/

.septimaParte {
  margin-top: 80px;
  margin-bottom: 80px;
}
.septimaParte p {
  margin-top: 5px;
}

.septimaParte h2 {
  padding-left: 40px;
  font-size: 26px;
  padding-top: 5px;
}

.septimaParte .parrafo-segundo {
  margin-top: 2px;
}

/*======================================================*/
/*Parte de dos imagenes y cuadro rosa fondo*/
.parteOctava {
  display: flex;
  flex-direction: row;

  max-width: 1263px;
  height: auto;
  justify-content: space-between;
  position: relative;
  height: 900px;
  z-index: 0;
  margin-bottom: 110px;
}
/*==========================================*/
/*CUADRO ROSA*/

.parteOctava-imagen1:after {
  content: "";
  display: block;
  width: 1055px;
  height: 930px;
  background-color: #d5b3ff;
  position: absolute;
  top: 0;
  left: 140px;
  z-index: -1;
}
.parteOctava-imagen1 {
  flex-basis: calc(40% - 20px);
  display: block;
  top: 30px;
  /* position: sticky;
  top: 80px; */
}

.octavaIzquierda {
  /* z-index: 1;
  position: sticky; */
  display: block;
  top: 260px;
  max-width: 543px;
  position: absolute;
}
/*Imagen lado izquierda*/
.parteOctava-imagen1 img {
  max-width: 100%;
  /* z-index: 1;
  position: sticky; */
  /* display: block;
  top: 260px;
  max-width: 543px;
  position: absolute; */
}
/*segunda parte de la octava parte*/
.parteOctava-imagen2 {
  flex-basis: calc(50% - 20px);
  position: relative;
  top: 120px;
}

.octavaDerecha {
  position: absolute;
  left: 154px;
  top: 12px;
  width: 665px;
}
.octavaDerecha img {
  max-width: 100%;
}

/*======================================================*/
/*Parte novena*/
.parteNovena {
  margin-bottom: 90px;
}
.parteNovena h2 {
  margin-left: 39px;
  margin-top: 34px;
  font-size: 26px;
}

/*======================================================*/
/*======================================================*/
.decimaParte {
  display: flex;
  flex-wrap: wrap;
  height: 656px;
}
.decimaParte-izquierda {
  flex-grow: 1;
  flex-basis: calc(52% - 20px);
  background-image: url(" img/photo-8.jpg");
  background-size: 180%;
  background-position: right;
  background-attachment: cover;
}

.decimaParte-derecha {
  flex-grow: 1;
  flex-basis: calc(48% - 20px);
  background-color: rgb(101, 156, 138);
  padding: 20px;
  padding-top: 150px;
  margin: 0 auto;
}

.decimaParte-derecha h3 {
  font-size: 26px;
  width: 73%;
  text-align: center;
  line-height: 40px;
  padding-top: 38px;
  padding-left: 80px;
  padding-bottom: 14px;
}

.decimaParte-derecha a {
  padding-left: 120px;
  font-size: 25px;
}

/*==================================*/

/*FOOTER*/

footer {
  /* padding-left: 50px; */
  max-width: 1333px;
  margin: 0px auto;
}
.tituloFooter {
  font-size: 60px;
  /* padding-left: 80px; */
  font-weight: 600;
  padding-left: 6px;
  padding-bottom: 5px;
}
/*Donde se agrupa cada parte del footer*/
.partesFooters-PrimeraParte {
  display: flex;
  flex-flow: row wrap;

  gap: 5px;

  /* padding: 30px; */
}
/*General cada parte*/
.partesFooter {
  flex-basis: 23%;
  flex-grow: 1;
  gap: 10px;
  margin-bottom: 10px;
  font-size: 27px;
}

.informacionAbletonFooter {
  padding-top: 23px;
  padding-left: 6px;
  max-width: 30%;
}
.redes {
  padding-top: 10px;
}

.partesFooter ul {
  padding-left: 0px;
  margin-top: 10px;
}
/*Ajustar que esten correctamente uno bajo otro*/
.partesFooter li {
  padding-bottom: 8px;
}
/*mover inputs y el primer select, en de lenguaje*/

.partesFooter input,
.langSelect,
p {
  margin-left: 25px;
}

/*Select añadiendo marging y padding para ajustarlo y poner el espacio dentro de select*/
.langSelect {
  max-width: 20%;
  padding-right: 40px;
  padding-bottom: 5px;
}
.countrySelect {
  max-width: 50%;
  padding-right: 110px;
  padding-bottom: 5px;
}
.partesFooter select {
  font-size: 15px;
}

.registerEmailFooter p {
  margin-left: 0px;
}
.registerEmailFooter input {
  margin-left: 0px;
  ma-right: 20px;
}

.lenguajeLocFooter select {
  margin-left: 0px;
}
.partesFooter button,
input {
  font-size: 15px;
  padding: 5px;
  padding-left: 40px;
  padding-right: 8px;
  /* padding-top: 10px; */
}
.partesFooter input {
  padding-right: 100px;
}
/*REDES*/
.facebook {
  background-color: rgb(0, 102, 255);
  width: 10%;
}
.twitter {
  background-color: rgb(111, 169, 255);
  width: 10%;
}

.youtube {
  background-color: rgb(189, 15, 131);
  width: 10%;
}

.instagram {
  background-color: rgb(235, 112, 112);
  width: 10%;
}

/*NO REDES*/

/*Educacion*/
.educationFooter {
  margin: 0px;
  max-width: 29%;
}
/*Reguistarr correo*/
.registerEmailFooter {
  flex-basis: 30%;

  margin: 0px;
}
.registerEmailFooter p {
  /* flex-basis: 60%; */
  font-size: 15px;
  padding-left: 0px;
  margin-top: 10px;
}

.registerEmailFooter button {
  background-color: blue;
  color: white;
}

/*Parte comunidad*/
.comunityFooter {
  max-width: 30%;
  padding-left: 10px;
}

.comunityFooter ul {
}

/*Titulo general footer*/

/*Titulos de li en footer*/
.footerh5Li {
  /* padding-left: 38px; */
  margin-bottom: 0px;
  margin-top: 29px;
  padding-left: 0px;
  font-size: 17px;
}

/*===========================*/
/*Parte segunda del footer*/
.partesFooters-SegundaParte {
  display: flex;

  justify-content: space-between;
  /* padding-right: 40px; */

  font-weight: 600;
  padding-left: 0px;
  margin-top: 30px;
}

.menuFooterSegPart {
  margin-left: 0px;
}
.menuFooterSegPart .ulFooterSegMenu {
  display: flex;
  gap: 15px;
  /* margin-left: 25px; */
  margin-left: 9px;

  padding: 0px;
}
.liFooterSegMenu {
}

.ulFooterSegMenu a {
  font-size: 12px;
}
/*made in and logo*/

.logoFooter {
  font-size: 12px;
  margin-top: 10px;
}

.logoFooter svg {
  padding-left: 5px;
}

/*==================================*/
@media only screen and (max-width: 1690px) {
  .contenedor {
    padding: 0px;
    max-width: 100%;
  }
  .main {
    margin: 0px;
    width: 1600px;
  }
}

/*Responsive*/
/*1600*/
@media only screen and (max-width: 1600px) {
  .contenedor {
    width: auto;
    margin-inline: 0px;
    justify-content: center;
  }
  .main {
    width: auto;
  }
}
/*1080*/
/*1024*/
/*768*/
/*576*/
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
